<div>
  <h1>Welcome to Schwitter</h1>
  <h3>Schedule your amazing opinions that the world so desperately needs to hear</h3>
</div>
<%= image_tag("Schwitter.jpg", style: "width:100%; margin-top: 30px; position: relative;") %>